[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awswrangler = "*"
boto3 = "*"
ipython = "*"
ipywidgets = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
plotly = "*"
python-dotenv = "*"
jupyterlite-core = "*"
jupyterlite-pyodide-kernel = "*"
jupyterlab-open-url-parameter = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
