awswrangler<3.9.0
boto3
IPython
ipywidgets
matplotlib
mjc_viewer
mujoco<4.0.0
numpy<2.0.0
pandas<3.0.0
pyarrow<17.0.0
plotly
pygwalker
python-dotenv<2.0.0
rapidfuzz<4.0.0
requests
tqdm
