awswrangler<=3.14.0
boto3<2.0.0
ipython<8.0.0
ipywidgets<8.0.0
matplotlib<4.0.0
mlb_statsapi@git+https://github.com/RebootMotion/mlb-statsapi.git@v1.2.0
mujoco==3.3.5
numpy<3.0.0
pandas<3.0.0
pyarrow<19.0.0
plotly<6.0.0
python-dotenv<2.0.0
rapidfuzz<4.0.0
requests<3.0.0
scipy<2.0.0
tqdm<5.0.0